In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Raga,SS,2021-07-29 00:21:38,8.4596,25.6780,67.89,98,67,4.12
1,1,Vila Franca Do Campo,PT,2021-07-29 00:20:35,37.7167,-25.4333,70.21,88,58,7.99
2,2,Yongchang,CN,2021-07-29 00:21:38,30.0381,119.7317,82.13,84,22,5.53
3,3,Kampong Thum,KH,2021-07-29 00:21:39,12.7111,104.8887,78.01,87,98,3.44
4,4,Ghansor,IN,2021-07-29 00:21:39,22.6500,79.9500,72.82,89,100,12.19

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Assigning the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# Assigning the weights variable to Max temp
max_temp = city_data_df["Max Temp"]

# Assigning the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assigning the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                    dissipating=False, max_intensity=300, point_radius=4)

# Adding the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap for Humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.1, 31.0), zoom_level=1.5)
humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                     max_intensity=300, point_radius=4)
fig.add_layer(humidity_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Heatmap for Cloudiness %
locations=city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.1,31.0), zoom_level=1.5)
cloudiness = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300,point_radius = 4)
fig.add_layer(cloudiness)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Heatmap for Wind Speed %
locations=city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.1,31.0), zoom_level=1.5)
wind_speed = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300,point_radius = 4)
fig.add_layer(wind_speed)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kampong Thum,KH,2021-07-29 00:21:39,12.7111,104.8887,78.01,87,98,3.44
11,11,Svetlaya,RU,2021-07-29 00:21:41,46.5389,138.3297,75.43,72,27,7.90
12,12,Bin Qirdan,TN,2021-07-29 00:21:41,33.1378,11.2197,79.07,71,0,9.19
14,14,Hithadhoo,MV,2021-07-29 00:17:05,-0.6000,73.0833,79.75,78,99,6.64
18,18,Vaini,TO,2021-07-29 00:21:42,-21.2000,-175.2000,75.36,78,20,6.91
19,19,Cayenne,GF,2021-07-29 00:21:43,4.9333,-52.3333,79.09,86,0,0.00
29,29,Hilo,US,2021-07-29 00:18:55,19.7297,-155.0900,78.53,85,90,10.36
33,33,Salalah,OM,2021-07-29 00:17:21,17.0151,54.0924,78.89,89,90,10.36
38,38,Hun,LY,2021-07-29 00:21:47,29.1268,15.9477,78.08,56,0,2.98
40,40,Thongwa,MM,2021-07-29 00:21:47,16.7619,96.5278,78.96,90,95,5.64

In [32]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3   Kampong Thum      KH     78.01  12.7111  104.8887
11      Svetlaya      RU     75.43  46.5389  138.3297
12    Bin Qirdan      TN     79.07  33.1378   11.2197
14     Hithadhoo      MV     79.75  -0.6000   73.0833
18         Vaini      TO     75.36 -21.2000 -175.2000
19       Cayenne      GF     79.09   4.9333  -52.3333
29          Hilo      US     78.53  19.7297 -155.0900
33       Salalah      OM     78.89  17.0151   54.0924
38           Hun      LY     78.08  29.1268   15.9477
40       Thongwa      MM     78.96  16.7619   96.5278

In [46]:
# Set parameters to search for a hotel
params = {
    "radius":5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["locations"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kampong Thum,KH,78.01,12.7111,104.8887,Sambor Village Hotel
11,Svetlaya,RU,75.43,46.5389,138.3297,
12,Bin Qirdan,TN,79.07,33.1378,11.2197,H么tel Palace
14,Hithadhoo,MV,79.75,-0.6000,73.0833,Scoop Guest House
18,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
19,Cayenne,GF,79.09,4.9333,-52.3333,H么tel Le Dronmi
29,Hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
33,Salalah,OM,78.89,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
38,Hun,LY,78.08,29.1268,15.9477,Alrwasi Hotel
40,Thongwa,MM,78.96,16.7619,96.5278,U Poe Sann

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)



info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#Adding markers to the hotel locations
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(markers)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))