In [26]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [27]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Lawrenz,MT,2021-08-03 00:33:42,36.0553,14.2040,83.86,59,58,5.93
1,1,Grants,US,2021-08-03 00:33:42,35.1473,-107.8514,70.03,52,90,3.44
2,2,Sabang,ID,2021-08-03 00:33:43,5.8933,95.3214,82.92,75,100,19.75
3,3,Caravelas,BR,2021-08-03 00:33:43,-17.7125,-39.2481,66.16,80,86,3.62
4,4,Busselton,AU,2021-08-03 00:33:43,-33.6500,115.3333,55.13,79,99,7.63

In [28]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Assigning the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

# Assigning the weights variable to Max temp
max_temp = city_data_df["Max Temp"]

# Assigning the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assigning the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                    dissipating=False, max_intensity=300, point_radius=4)

# Adding the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap for Humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.1, 31.0), zoom_level=1.5)
humidity_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                     max_intensity=300, point_radius=4)
fig.add_layer(humidity_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
#Heatmap for Cloudiness %
locations=city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.1,31.0), zoom_level=1.5)
cloudiness = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300,point_radius = 4)
fig.add_layer(cloudiness)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
#Heatmap for Wind Speed %
locations=city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.1,31.0), zoom_level=1.5)
wind_speed = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300,point_radius = 4)
fig.add_layer(wind_speed)
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [109]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Grants,US,2021-08-03 00:33:42,35.1473,-107.8514,70.03,52,90,3.44
10,10,Vaini,TO,2021-08-03 00:33:45,-21.2000,-175.2000,75.36,73,20,12.66
11,11,Bethel,US,2021-08-03 00:33:45,41.3712,-73.4140,73.99,75,75,3.44
14,14,Ribeira Grande,PT,2021-08-03 00:29:42,38.5167,-28.7000,73.00,92,54,7.85
18,18,Sikeston,US,2021-08-03 00:33:47,36.8767,-89.5879,78.84,65,1,5.75
21,21,Shenjiamen,CN,2021-08-03 00:33:47,29.9576,122.2980,77.67,94,100,9.84
22,22,Haines Junction,CA,2021-08-03 00:32:47,60.7522,-137.5108,75.15,43,100,9.22
26,26,Marrakesh,MA,2021-08-03 00:33:48,31.6315,-8.0083,71.67,64,0,6.91
28,28,Hobyo,SO,2021-08-03 00:32:30,5.3505,48.5268,77.49,73,68,20.58
29,29,Puerto Ayora,EC,2021-08-03 00:31:14,-0.7393,-90.3518,70.72,91,39,8.05

In [110]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Grants      US     70.03  35.1473 -107.8514
10            Vaini      TO     75.36 -21.2000 -175.2000
11           Bethel      US     73.99  41.3712  -73.4140
14   Ribeira Grande      PT     73.00  38.5167  -28.7000
18         Sikeston      US     78.84  36.8767  -89.5879
21       Shenjiamen      CN     77.67  29.9576  122.2980
22  Haines Junction      CA     75.15  60.7522 -137.5108
26        Marrakesh      MA     71.67  31.6315   -8.0083
28            Hobyo      SO     77.49   5.3505   48.5268
29     Puerto Ayora      EC     70.72  -0.7393  -90.3518

In [111]:
# Set parameters to search for a hotel
params = {
    "radius":5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [112]:
hotel_df = hotel_df.dropna()
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Grants,US,70.03,35.1473,-107.8514,"Motel 6 Grants, NM"
10,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
11,Bethel,US,73.99,41.3712,-73.4140,Courtyard by Marriott Danbury
14,Ribeira Grande,PT,73.00,38.5167,-28.7000,Quinta da Meia Eira
18,Sikeston,US,78.84,36.8767,-89.5879,Drury Inn & Suites Sikeston
21,Shenjiamen,CN,77.67,29.9576,122.2980,Jinjiang Inn Zhoushan Putuo Shenjiamen
22,Haines Junction,CA,75.15,60.7522,-137.5108,Parkside Inn
26,Marrakesh,MA,71.67,31.6315,-8.0083,Novotel Marrakech Hivernage
28,Hobyo,SO,77.49,5.3505,48.5268,Halane Hotel and Restaurent
29,Puerto Ayora,EC,70.72,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)



info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#Adding markers to the hotel locations
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(markers)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))