## Deliverable 3. Create a Travel Itinerary Map.

In [182]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [183]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(100)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,28,Jamestown,US,73.02,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,44,Barranca De Upia,CO,70.81,overcast clouds,4.5696,-72.9668,HOTEL GUAICARAMO
2,48,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
3,55,Luganville,VU,72.39,overcast clouds,-15.5333,167.1667,The Espiritu Hotel
4,58,Khandbari,NP,72.16,overcast clouds,27.3747,87.2039,Sainik Hotel And Lodge
...,...,...,...,...,...,...,...,...
87,671,Livno,BA,72.10,overcast clouds,43.8269,17.0078,Hotel Park
88,672,Tigzirt,DZ,74.71,broken clouds,36.8886,4.1198,Bloc D tazoumbirt (amar)
89,684,Kisangani,CD,70.75,broken clouds,0.5167,25.2000,Grand Ramela Hotel
90,689,Yelniki,RU,72.55,clear sky,54.6207,43.8760,Гостиница „Расвет”
91,692,Mahajanga,MG,71.62,few clouds,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga

In [184]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp}˚F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [181]:
# 4a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(markers)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [190]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Vila Velha"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Vila Velha"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Belmonte"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Oliveira Dos Brejinhos"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Carinhanha"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,128,Carinhanha,BR,75.34,overcast clouds,-14.3047,-43.765,Hotel União

In [191]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].iloc[0].to_numpy()
end = vacation_end[["Lat","Lng"]].iloc[0].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].iloc[0].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].iloc[0].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].iloc[0].to_numpy()
start

array([-20.3297, -40.2925])

In [205]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2, stop3], travel_mode='BICYCLING')
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [206]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,583,Vila Velha,BR,73.96,clear sky,-20.3297,-40.2925,Quality Suites Vila Velha
1,583,Vila Velha,BR,73.96,clear sky,-20.3297,-40.2925,Quality Suites Vila Velha
2,83,Belmonte,BR,70.30,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
3,205,Oliveira Dos Brejinhos,BR,75.09,broken clouds,-12.3169,-42.8961,Hotel Paraiso
4,128,Carinhanha,BR,75.34,overcast clouds,-14.3047,-43.7650,Hotel União

In [207]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp}˚F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [213]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))